# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
data/*.pyc
app/*.pyc

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Often these are written by the Python interpreter in directory where the executable is built
*.manifest
*.spec

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
